.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--accent);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 1s;
}

.modal {
  width: max-content;
  color: var(--text);
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 2rem;
  border: 0.5rem solid var(--primary);
  transition: all 1s;
}

.modal div {
  margin-block: 1rem;
}

.modal button {
  background-color: var(--primary);
  border: 0.2rem solid var(--accent);
  color: var(--secondary);
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  color: var(--text);
}

.modal button:hover {
  background-color: var(--accent);
}
