.cardsContainer {
  width: 100%;
  margin: 0 auto;
  display: grid;
  background-color: antiquewhite;

  grid-gap: 4px;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 414px) {
  .cardsContainer {
    grid-template-columns: repeat(2, min-content);
  }
}
