.header {
  width: min-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.title {
  width: 100%;
  background-color: var(--gray-200);
  color: var(--gray-400);
  text-align: center;

  font-size: 1.2rem;

  font-family: "Fredoka One", cursive;
}

.title header {
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding-block: 0.4rem;
  display: flex;

  align-items: center;
  justify-content: center;
}

.brain {
  font-size: 2rem;
  padding: 0.4rem;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-400);
  box-sizing: border-box;
}

.title span {
  font-family: "Kanit", sans-serif;
  display: block;
}

.title header span {
  line-height: 2rem;
  border-block-width: 1px;
  border-right-width: 1px;
  border-left-width: 0;
  border-style: solid;
  border-color: var(--gray-400);
  padding: 0.4rem;
}

.title > span:last-child {
  background-color: var(--gray-400);
  color: var(--gray-100);
}

.title span.error {
  color: var(--warning);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  margin-top: 1rem;
}

.pickers {
  display: flex;
  gap: 0.5rem;
}

.picker {
  display: flex;
  flex-direction: column;
  position: relative;
}

.picker-objects {
  display: flex;
  flex-direction: column;
  width: 8rem;
  justify-content: center;
  align-items: center;
}

.picker-objects label {
  width: 100%;
}

.picker input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.pickerTitle {
  width: 100%;
  display: block;
  background-color: var(--primary);
  text-align: center;
  padding-block: 0.2rem;
  border-radius: 0.2em 0.2em 0 0;
  box-sizing: border-box;
  border-color: var(--primary);
}

.pickerTitleDisabled {
  background-color: var(--gray-300);
  color: var(--gray-200);
  cursor: default;
  border-color: var(--gray-400);
}

.pickerLabel {
  padding-block: 0.5rem;
  color: var(--accent);
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: block;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: var(--primary);
  position: relative;
}

.picker-objects label:nth-last-of-type(1) .pickerLabel {
  border-radius: 0 0.2em 0.2em 0;
  border-bottom-width: 1px;
}

.pickerLabelDisabled {
  border-color: var(--gray-400);
  cursor: not-allowed;
}

.picker input[type="radio"].picker-active + span {
  background-color: var(--accent);
  color: var(--text);
}

.picker input[type="radio"].picker-active + span::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 3px solid var(--secondary);
}

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  color: var(--text);
  grid-column: 1 / -1;

  background-color: var(--gray-200);
  border: 3px solid transparent;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
  text-align: center;
  letter-spacing: 0.02rem;
  font-size: 1.1rem;

  padding: 0.8rem;
  cursor: pointer;
  border-radius: 2rem;

  transition: background-color 0.08s ease-in;
  cursor: not-allowed;
}

.buttonIsActive {
  color: var(--text);
  background-color: var(--secondary);
  border: 3px solid var(--accent);
  cursor: pointer;
}

@media screen and (min-width: 610px) {
  .pickers {
    flex-direction: column;
  }

  .picker {
    display: flex;
    flex-direction: row;

    align-items: center;
  }

  .picker-objects {
    width: auto;
    flex-direction: row;
    align-content: center;
  }

  .pickerTitle {
    width: 8rem;
    padding-block: 0.5rem;
    border-width: 1px 0 1px 1px;
    border-style: solid;

    border-radius: 0.2rem 0 0 0.2rem;
    box-sizing: border-box;
  }
  .picker input[type="radio"] + span {
    width: 8rem;
    box-sizing: border-box;
    border-width: 1px 1px 1px 0;
  }

  .picker-objects label:nth-last-of-type(1) span {
    border-radius: 0 0.2rem 0.2em 0;
    border-bottom-width: 1px;
  }
}
