@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary: #314e52;
  --secondary: #e7e6e1;
  --accent: #dddddd;
  --warning: #f2a154;
  --text: #112435;
}

:root:has(#frogs:checked) {
  --primary: #a0c59f;
  --secondary: #d5e99e;
  --accent: #fff567;
  --warning: #ebab36;
  --text: #494b2e;
}

:root:has(#bugs:checked) {
  --primary: #86acaa;
  --secondary: #b7f1ba;
  --accent: #7dcf5c;
  --warning: #ebab36;
  --text: #3d5558;
}

:root:has(#mountains:checked) {
  --primary: #d0cbd8;
  --secondary: #bec7c7;
  --accent: #dddddd;
  --warning: #ebab36;
  --text: #678286;
}

:root,
html,
body,
#root {
  width: 100%;
  height: 100%;
  color: var(--text);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
