@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --gray-100: #f2f2f2;
  --gray-200: #bfbfbf;
  --gray-300: #737373;
  --gray-400: #404040;
  --gray-500: #262626;

  --primary: #36929e;
  --secondary: #47afb3;
  --accent: #84c4ae;
  --text: #112435;
  --warning: #ee6b00;
}

:root:has(#frogs:checked) {
  --primary: #61ee79;
  --secondary: #bdff09;
  --accent: #11d141;
  --text: #494b2e;
}

:root:has(#bugs:checked) {
  --primary: #cf9d14;
  --secondary: #55ffe8;
  --accent: #dbb6fa;
  --text: #0a464e;
}

:root:has(#mountains:checked) {
  --primary: #b2a2cc;
  --secondary: #d1cbec;
  --accent: #b4b8ff;
  --text: #47686d;
}

:root,
html,
body,
#root {
  width: 100%;
  height: 100%;
  color: var(--text);
}

body {
  background-color: var(--gray-100);
}
body a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
